<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/bundles/css")
        @RenderSection("styles", false)
    </head>
    <body>
        @RenderBody()
        @Scripts.Render(
            "~/bundles/js/core",
            "~/bundles/js/ko",
            "~/bundles/js/requirejs"
            )
        @RenderSection("scripts", false)
    </body>
</html>
